a.button {
    background-color: #34aedc;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    display: inline-block;
    min-width: 110px;
}

a.button:hover {
    background-color: #00709a;
}